.containerBun{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 536px;
    width: 100%;
    min-height: 80px;
    margin-left: 48px;
    padding: 16px 24px;
    box-sizing: border-box;
    /* font-size: 1.6rem; */
    line-height: 150%;
    color: #f2f2f3;

    border-radius: var(--common-border-radius-s);
    background: var(--background-element);
}
.containerBunTop{
    border-radius: var(--top-constructor-item-border-radius);
}
.containerBunBottom{
    border-radius: var(--bottom-constructor-item-border-radius);
}
.bun{
    margin-left: 48px;
    user-select: none;
    & > * > * {
        cursor: default;
    }
}
.containerEmptyDrop{
    border: 1.2px solid #4c4cff;
}