.nav{
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}
.links{
    display: flex;
    flex-direction: column;
    color: #8585ad;
}
.linksItem{
    margin: 17px 0;
}
.link{
    color: inherit;
    transition: all 0.3s ease-in;
}
.link:hover{
    color: #f2f2f3;
}
.linkActive{
    color: #f2f2f3;
}
.button{
    background-color: transparent;
    border: none;
}
.description{
    color: #8585ad;
    opacity: 40%;
}